@import "~bootstrap/scss/bootstrap.scss";

.banner{
    width: 100%;
}
.centrado{
    text-align: center;
}
.centradosuperior{
    text-align: center;
    margin-top: 1%;
}
.info{
    text-align: center;
    background-color: #5abdb4;
    padding-top:1% ;
    color: white;
}
.inscripcion{
    margin-top: 1%;
}
.temario{
    padding:2%;
}
.etiquetas{
    margin: 1%;
}